# Android
captures
.externalNativeBuild
.cxx
keystore/drappula.jks
play-publish-credentials.json
google-services.json

# Envs
.env
.envrc

# Gradle
*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
node_modules/
settings.local.json

# IntelliJ
.idea

# iOS
GoogleService-Info.plist
Secrets.plist
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
build/ios/
*.xcarchive
*.ipa
private_keys/

# mac
.DS_Store
